html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}

.borderless td, .borderless th {
    border: none !important;
}

.navigation-menu {
    font-size: 15px;
    font-weight: bold;
    color: grey;
}

.align {
    text-align: left;
}